{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Queryx API",
    "version": "1.0.0",
    "summary": "x402-native web and research search API",
    "description": "Queryx provides paid web search, news search, and deep research endpoints protected by x402 payments on Base.",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://queryx.run",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "health",
      "description": "Service health checks"
    },
    {
      "name": "search",
      "description": "Web and news retrieval"
    },
    {
      "name": "research",
      "description": "Multi-hop deep research"
    }
  ],
  "security": [
    {
      "x402": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "health"
        ],
        "operationId": "getHealth",
        "summary": "Health check",
        "description": "Returns service health status. This endpoint is free and does not require x402 payment.",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "examples": {
                  "ok": {
                    "value": {
                      "status": "ok",
                      "service": "queryx",
                      "version": "1.0.0",
                      "uptime_s": 92831
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/search": {
      "get": {
        "tags": [
          "search"
        ],
        "operationId": "searchWeb",
        "summary": "Web search",
        "description": "Returns ranked web results with optional synthesized answer.",
        "x-pricing": {
          "asset": "USDC",
          "usdc_base_units": "5000",
          "usdc_human": "0.005"
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 500
            },
            "examples": {
              "basic": {
                "value": "best rust web framework 2026"
              }
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 10
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code (ISO 639-1)",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 5,
              "default": "en"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Country code (ISO 3166-1 alpha-2)",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "freshness",
            "in": "query",
            "required": false,
            "description": "Optional recency filter",
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "365d",
                "all"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Web search results",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Requests allowed in the current window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "query": "best rust web framework 2026",
                      "answer": "Actix Web and Axum remain the most commonly adopted Rust web frameworks for high-performance production APIs.",
                      "results": [
                        {
                          "title": "Axum vs Actix: performance benchmark 2026",
                          "url": "https://example.com/axum-vs-actix-2026",
                          "snippet": "Benchmarks show both frameworks perform strongly, with tradeoffs in ergonomics and ecosystem.",
                          "source": "example.com",
                          "published_at": "2026-01-22T13:03:00Z",
                          "score": 0.93
                        },
                        {
                          "title": "Building APIs with Axum",
                          "url": "https://example.com/building-apis-axum",
                          "snippet": "A practical guide to middleware, extraction, and state patterns in Axum.",
                          "source": "example.com",
                          "published_at": "2025-11-19T09:00:00Z",
                          "score": 0.88
                        }
                      ],
                      "took_ms": 247,
                      "request_id": "req_9f89b9e85ef345f1",
                      "billing": {
                        "endpoint": "/v1/search",
                        "asset": "USDC",
                        "amount_base_units": "5000",
                        "amount": "0.005"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/search/news": {
      "get": {
        "tags": [
          "search"
        ],
        "operationId": "searchNews",
        "summary": "News search",
        "description": "Returns recent and relevant news articles.",
        "x-pricing": {
          "asset": "USDC",
          "usdc_base_units": "7500",
          "usdc_human": "0.0075"
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "News query",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 500
            },
            "examples": {
              "basic": {
                "value": "base layer 2 ecosystem funding"
              }
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of articles to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code (ISO 639-1)",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Country code (ISO 3166-1 alpha-2)",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Lower bound publication date (inclusive)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Upper bound publication date (inclusive)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sorting strategy",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "date"
              ],
              "default": "relevance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "News results",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Requests allowed in the current window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsSearchResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "query": "base layer 2 ecosystem funding",
                      "articles": [
                        {
                          "title": "L2 startup raises growth round",
                          "url": "https://example.com/l2-funding-round",
                          "snippet": "A Base-native infrastructure company announced a new funding round for ecosystem expansion.",
                          "source": "example.com",
                          "published_at": "2026-02-19T08:24:00Z",
                          "image_url": "https://example.com/image.jpg"
                        },
                        {
                          "title": "Institutional interest in L2s increases",
                          "url": "https://example.com/institutional-l2-interest",
                          "snippet": "Analysts cite lower settlement costs and improving tooling as growth drivers.",
                          "source": "example.com",
                          "published_at": "2026-02-18T14:02:00Z",
                          "image_url": null
                        }
                      ],
                      "took_ms": 198,
                      "request_id": "req_8490ba42a2e14c44",
                      "billing": {
                        "endpoint": "/v1/search/news",
                        "asset": "USDC",
                        "amount_base_units": "7500",
                        "amount": "0.0075"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/search/deep": {
      "post": {
        "tags": [
          "research"
        ],
        "operationId": "deepSearch",
        "summary": "Deep research search",
        "description": "Runs multi-hop retrieval and synthesis for complex research queries.",
        "x-pricing": {
          "asset": "USDC",
          "usdc_base_units": "25000",
          "usdc_human": "0.025"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeepSearchRequest"
              },
              "examples": {
                "basic": {
                  "value": {
                    "query": "Compare retrieval-augmented generation frameworks for production observability",
                    "max_depth": 2,
                    "max_branches": 4,
                    "max_results": 20,
                    "time_range": "365d",
                    "include_domains": [
                      "example.com",
                      "example.org"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deep research results",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Requests allowed in the current window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepSearchResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "query": "Compare retrieval-augmented generation frameworks for production observability",
                      "summary": "Framework A offers strong tracing integrations and lower operational complexity, while Framework B provides broader connector coverage but requires more custom instrumentation.",
                      "findings": [
                        {
                          "title": "Operational visibility is the biggest differentiator",
                          "analysis": "Teams selecting a framework for long-term production use prioritize traceability, cache introspection, and replay tooling over pure benchmark throughput.",
                          "confidence": 0.91,
                          "citation_ids": [
                            1,
                            2
                          ]
                        },
                        {
                          "title": "Connector ecosystem impacts time-to-value",
                          "analysis": "Framework B has more built-in connectors but less opinionated defaults, increasing implementation variance.",
                          "confidence": 0.84,
                          "citation_ids": [
                            3
                          ]
                        }
                      ],
                      "citations": [
                        {
                          "id": 1,
                          "title": "Observability patterns in modern RAG systems",
                          "url": "https://example.com/rag-observability",
                          "snippet": "Tracing and evaluation loops reduce production incidents and debugging time.",
                          "source": "example.com",
                          "published_at": "2025-09-10T12:00:00Z"
                        },
                        {
                          "id": 2,
                          "title": "Production lessons from RAG deployments",
                          "url": "https://example.org/rag-lessons",
                          "snippet": "Latency and quality regressions are easiest to catch with continuous offline and online evals.",
                          "source": "example.org",
                          "published_at": "2026-01-12T08:15:00Z"
                        },
                        {
                          "id": 3,
                          "title": "Comparing connector ecosystems",
                          "url": "https://example.net/connector-ecosystems",
                          "snippet": "Connector breadth can accelerate pilots but increases maintenance surface area.",
                          "source": "example.net",
                          "published_at": "2025-12-02T16:44:00Z"
                        }
                      ],
                      "took_ms": 1683,
                      "request_id": "req_1f2b53f8c6e248f5",
                      "billing": {
                        "endpoint": "/v1/search/deep",
                        "asset": "USDC",
                        "amount_base_units": "25000",
                        "amount": "0.025"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "x402": {
        "type": "apiKey",
        "in": "header",
        "name": "X-PAYMENT",
        "description": "x402 payment envelope. Format: x402.<base64url_payload_json>.<hex_signature>. Payload must include method/path/query/body hash, amount, asset, chain_id, timestamp, nonce, and signer address."
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": [
          "status",
          "service",
          "version",
          "uptime_s"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "degraded"
            ]
          },
          "service": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "uptime_s": {
            "type": "integer",
            "minimum": 0
          }
        },
        "additionalProperties": false
      },
      "BillingSummary": {
        "type": "object",
        "required": [
          "endpoint",
          "asset",
          "amount_base_units",
          "amount"
        ],
        "properties": {
          "endpoint": {
            "type": "string"
          },
          "asset": {
            "type": "string",
            "enum": [
              "USDC"
            ]
          },
          "amount_base_units": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+(\\.[0-9]+)?$"
          }
        },
        "additionalProperties": false
      },
      "SearchResultItem": {
        "type": "object",
        "required": [
          "title",
          "url",
          "snippet",
          "source",
          "published_at",
          "score"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "snippet": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        },
        "additionalProperties": false
      },
      "SearchResponse": {
        "type": "object",
        "required": [
          "query",
          "results",
          "took_ms",
          "request_id",
          "billing"
        ],
        "properties": {
          "query": {
            "type": "string"
          },
          "answer": {
            "type": [
              "string",
              "null"
            ]
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResultItem"
            }
          },
          "took_ms": {
            "type": "integer",
            "minimum": 0
          },
          "request_id": {
            "type": "string"
          },
          "billing": {
            "$ref": "#/components/schemas/BillingSummary"
          }
        },
        "additionalProperties": false
      },
      "NewsArticle": {
        "type": "object",
        "required": [
          "title",
          "url",
          "snippet",
          "source",
          "published_at",
          "image_url"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "snippet": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          }
        },
        "additionalProperties": false
      },
      "NewsSearchResponse": {
        "type": "object",
        "required": [
          "query",
          "articles",
          "took_ms",
          "request_id",
          "billing"
        ],
        "properties": {
          "query": {
            "type": "string"
          },
          "articles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NewsArticle"
            }
          },
          "took_ms": {
            "type": "integer",
            "minimum": 0
          },
          "request_id": {
            "type": "string"
          },
          "billing": {
            "$ref": "#/components/schemas/BillingSummary"
          }
        },
        "additionalProperties": false
      },
      "DeepSearchRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000
          },
          "max_depth": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5,
            "default": 2
          },
          "max_branches": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "default": 4
          },
          "max_results": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 20
          },
          "time_range": {
            "type": "string",
            "enum": [
              "24h",
              "7d",
              "30d",
              "365d",
              "all"
            ],
            "default": "365d"
          },
          "include_domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          },
          "exclude_domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          }
        },
        "additionalProperties": false
      },
      "DeepFinding": {
        "type": "object",
        "required": [
          "title",
          "analysis",
          "confidence",
          "citation_ids"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "analysis": {
            "type": "string"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "citation_ids": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 1
            }
          }
        },
        "additionalProperties": false
      },
      "Citation": {
        "type": "object",
        "required": [
          "id",
          "title",
          "url",
          "snippet",
          "source",
          "published_at"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 1
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "snippet": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "DeepSearchResponse": {
        "type": "object",
        "required": [
          "query",
          "summary",
          "findings",
          "citations",
          "took_ms",
          "request_id",
          "billing"
        ],
        "properties": {
          "query": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "findings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeepFinding"
            }
          },
          "citations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Citation"
            }
          },
          "took_ms": {
            "type": "integer",
            "minimum": 0
          },
          "request_id": {
            "type": "string"
          },
          "billing": {
            "$ref": "#/components/schemas/BillingSummary"
          }
        },
        "additionalProperties": false
      },
      "ValidationError": {
        "type": "object",
        "required": [
          "field",
          "message"
        ],
        "properties": {
          "field": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RateLimitDetails": {
        "type": "object",
        "required": [
          "limit",
          "remaining",
          "reset_epoch_seconds",
          "retry_after_seconds"
        ],
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 1
          },
          "remaining": {
            "type": "integer",
            "minimum": 0
          },
          "reset_epoch_seconds": {
            "type": "integer",
            "minimum": 0
          },
          "retry_after_seconds": {
            "type": "integer",
            "minimum": 1
          }
        },
        "additionalProperties": false
      },
      "PaymentRequiredDetails": {
        "type": "object",
        "required": [
          "asset",
          "chain_id",
          "facilitator_address",
          "required_amount_base_units",
          "required_amount",
          "expires_at",
          "reason"
        ],
        "properties": {
          "asset": {
            "type": "string",
            "enum": [
              "USDC"
            ]
          },
          "chain_id": {
            "type": "integer",
            "enum": [
              8453
            ]
          },
          "facilitator_address": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "required_amount_base_units": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "required_amount": {
            "type": "string",
            "pattern": "^[0-9]+(\\.[0-9]+)?$"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "reason": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ErrorObject": {
        "type": "object",
        "required": [
          "code",
          "message",
          "status",
          "request_id",
          "retryable"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "request_id": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          },
          "payment": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentRequiredDetails"
              },
              {
                "type": "null"
              }
            ]
          },
          "validation_errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          },
          "rate_limit": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/RateLimitDetails"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorObject"
          }
        },
        "additionalProperties": false
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "Payment is required or payment envelope is invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "paymentRequired": {
                "value": {
                  "error": {
                    "code": "payment_required",
                    "message": "Valid x402 payment required for this endpoint.",
                    "status": 402,
                    "request_id": "req_8f9982136bbd43db",
                    "retryable": true,
                    "payment": {
                      "asset": "USDC",
                      "chain_id": 8453,
                      "facilitator_address": "0x6A0F1C8A3B5D5BA43B2E2B4A4B8D7C9A5E4F0123",
                      "required_amount_base_units": "5000",
                      "required_amount": "0.005",
                      "expires_at": "2026-03-04T12:00:00Z",
                      "reason": "missing_or_invalid_payment_header"
                    },
                    "validation_errors": [],
                    "rate_limit": null
                  }
                }
              }
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Request validation failed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "validation": {
                "value": {
                  "error": {
                    "code": "validation_error",
                    "message": "Invalid request parameters.",
                    "status": 422,
                    "request_id": "req_3ab11ed8f2df4d58",
                    "retryable": false,
                    "payment": null,
                    "validation_errors": [
                      {
                        "field": "q",
                        "message": "q is required"
                      }
                    ],
                    "rate_limit": null
                  }
                }
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded.",
        "headers": {
          "Retry-After": {
            "description": "Seconds until the next retry is allowed",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rateLimit": {
                "value": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded.",
                    "status": 429,
                    "request_id": "req_64c0b35b7f934624",
                    "retryable": true,
                    "payment": null,
                    "validation_errors": [],
                    "rate_limit": {
                      "limit": 120,
                      "remaining": 0,
                      "reset_epoch_seconds": 1772629800,
                      "retry_after_seconds": 18
                    }
                  }
                }
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Unexpected internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "serverError": {
                "value": {
                  "error": {
                    "code": "internal_error",
                    "message": "Unexpected internal error.",
                    "status": 500,
                    "request_id": "req_7f8f87e2d1554c84",
                    "retryable": true,
                    "payment": null,
                    "validation_errors": [],
                    "rate_limit": null
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}