{
  "$schema": "https://spec.openapis.org/oas/3.1/dialect/base",
  "openapi": "3.1.0",
  "info": {
    "title": "Queryx API",
    "version": "1.0.0",
    "description": "Queryx provides paid web search, news search, and deep research endpoints secured by x402 on Base."
  },
  "servers": [
    {
      "url": "https://queryx.run",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Service health and readiness."
    },
    {
      "name": "Search",
      "description": "General web search."
    },
    {
      "name": "News",
      "description": "News-focused search."
    },
    {
      "name": "Deep",
      "description": "Multi-step deep research workflow."
    }
  ],
  "security": [
    {
      "x402": []
    }
  ],
  "x-x402": {
    "network": "base",
    "asset": "USDC",
    "decimals": 6,
    "facilitator_address": "0x5A6f7A2b9f7B92E8d6A55E2d88cbf8EeCd8A4B13"
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "examples": {
                  "ok": {
                    "value": {
                      "status": "ok",
                      "version": "1.0.0",
                      "uptime_s": 38192,
                      "now": "2026-03-04T12:41:53Z"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Web search",
        "description": "Returns ranked web results for the given query.",
        "operationId": "searchWeb",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            },
            "examples": {
              "basic": {
                "value": "base ecosystem funding rounds"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 10
            },
            "examples": {
              "small": {
                "value": 5
              }
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Two-letter region code.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{2}$",
              "default": "US"
            },
            "examples": {
              "us": {
                "value": "US"
              }
            }
          },
          {
            "name": "safe_search",
            "in": "query",
            "required": false,
            "description": "Safe search mode.",
            "schema": {
              "type": "string",
              "enum": [
                "off",
                "moderate",
                "strict"
              ],
              "default": "moderate"
            }
          },
          {
            "name": "freshness",
            "in": "query",
            "required": false,
            "description": "Recency filter.",
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "day",
                "week",
                "month"
              ],
              "default": "any"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "query": "base ecosystem funding rounds",
                      "took_ms": 143,
                      "total": 2,
                      "results": [
                        {
                          "title": "Q1 Base Ecosystem Funding Summary",
                          "url": "https://queryx.run/mock/source/base-funding-q1",
                          "snippet": "An overview of major funding rounds announced in the Base ecosystem in Q1.",
                          "source": "Queryx Mock Source",
                          "published_at": "2026-02-27T10:20:11Z",
                          "score": 0.93
                        },
                        {
                          "title": "Developer Tooling Raises for Base Builders",
                          "url": "https://queryx.run/mock/source/base-tooling-funding",
                          "snippet": "Roundup of developer infrastructure and tooling startups raising capital on Base.",
                          "source": "Queryx Mock Source",
                          "published_at": "2026-02-24T08:11:00Z",
                          "score": 0.88
                        }
                      ],
                      "cost": {
                        "asset": "USDC",
                        "amount_base_units": "2500",
                        "amount": "0.0025"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/search/news": {
      "get": {
        "tags": [
          "News"
        ],
        "summary": "News search",
        "description": "Returns recent and relevant news results.",
        "operationId": "searchNews",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "News query.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            },
            "examples": {
              "basic": {
                "value": "base developer grants"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Only include articles published at or after this timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "examples": {
              "recent": {
                "value": "2026-02-01T00:00:00Z"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort mode.",
            "schema": {
              "type": "string",
              "enum": [
                "relevancy",
                "date"
              ],
              "default": "relevancy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "News results.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsSearchResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "query": "base developer grants",
                      "took_ms": 167,
                      "total": 2,
                      "results": [
                        {
                          "title": "Base Expands Developer Grants Program",
                          "url": "https://queryx.run/mock/news/base-grants-expansion",
                          "snippet": "The grants initiative adds new tracks for infrastructure and education.",
                          "source": "Queryx Mock News",
                          "outlet": "Queryx Daily",
                          "published_at": "2026-03-02T07:11:18Z",
                          "score": 0.96,
                          "category": "technology"
                        },
                        {
                          "title": "How Builders Are Using Base Grant Funding",
                          "url": "https://queryx.run/mock/news/base-grants-case-studies",
                          "snippet": "Interview-driven piece on successful grant-funded teams.",
                          "source": "Queryx Mock News",
                          "outlet": "Builder Wire",
                          "published_at": "2026-03-01T14:20:00Z",
                          "score": 0.89,
                          "category": "business"
                        }
                      ],
                      "cost": {
                        "asset": "USDC",
                        "amount_base_units": "4000",
                        "amount": "0.004"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/search/deep": {
      "post": {
        "tags": [
          "Deep"
        ],
        "summary": "Deep research",
        "description": "Performs multi-step retrieval and synthesis with citations.",
        "operationId": "deepSearch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeepSearchRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "query": "What are the main risks and opportunities for Base ecosystem startups in 2026?",
                    "max_results": 12,
                    "search_depth": "standard",
                    "include_news": true,
                    "include_citations": true,
                    "freshness": "month"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deep research report.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepSearchResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "query": "What are the main risks and opportunities for Base ecosystem startups in 2026?",
                      "answer": "The dominant opportunity is distribution leverage via wallet-native channels and stablecoin rails, while the dominant risk is margin compression in undifferentiated tooling segments.",
                      "key_findings": [
                        "Developer tooling remains crowded, forcing differentiation via workflow depth and enterprise features.",
                        "Consumer apps with built-in onchain payments are showing stronger retention than utility-only products.",
                        "Compliance and treasury operations are becoming a larger share of total startup cost."
                      ],
                      "citations": [
                        {
                          "title": "2026 Base Builder Landscape",
                          "url": "https://queryx.run/mock/research/base-builder-landscape-2026",
                          "snippet": "Annual report covering funding, retention, and monetization by segment.",
                          "source": "Queryx Mock Research",
                          "published_at": "2026-02-20T09:30:00Z"
                        },
                        {
                          "title": "Stablecoin Settlement Trends on Base",
                          "url": "https://queryx.run/mock/research/base-stablecoin-settlement",
                          "snippet": "Quarterly analysis of transaction volume and business use-cases.",
                          "source": "Queryx Mock Research",
                          "published_at": "2026-02-28T15:02:00Z"
                        }
                      ],
                      "results": [
                        {
                          "title": "Base Builder Landscape 2026",
                          "url": "https://queryx.run/mock/research/base-builder-landscape-2026",
                          "snippet": "Survey and metrics for startup outcomes on Base.",
                          "source": "Queryx Mock Research",
                          "published_at": "2026-02-20T09:30:00Z",
                          "score": 0.95
                        },
                        {
                          "title": "Stablecoin Settlement Trends on Base",
                          "url": "https://queryx.run/mock/research/base-stablecoin-settlement",
                          "snippet": "Analysis of onchain payment growth.",
                          "source": "Queryx Mock Research",
                          "published_at": "2026-02-28T15:02:00Z",
                          "score": 0.9
                        }
                      ],
                      "took_ms": 1320,
                      "total": 12,
                      "cost": {
                        "asset": "USDC",
                        "amount_base_units": "25000",
                        "amount": "0.025"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "x402": {
        "type": "apiKey",
        "in": "header",
        "name": "X-PAYMENT",
        "description": "Base64url-encoded x402 payment envelope signed by the payer wallet. Required for paid endpoints."
      }
    },
    "headers": {
      "X-Request-Id": {
        "description": "Request correlation id.",
        "schema": {
          "type": "string"
        }
      },
      "X-RateLimit-Limit": {
        "description": "Allowed requests in the current rate-limit window.",
        "schema": {
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "Remaining requests in the current rate-limit window.",
        "schema": {
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "Unix timestamp when the current rate-limit window resets.",
        "schema": {
          "type": "integer"
        }
      },
      "Retry-After": {
        "description": "Seconds to wait before retrying.",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "X-402-Required": {
        "description": "Set to true when payment is required.",
        "schema": {
          "type": "boolean"
        }
      },
      "X-402-Challenge": {
        "description": "Base64url-encoded x402 challenge JSON used to construct a payment envelope.",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "Payment required. Retry the same request with a valid x402 payment envelope.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-402-Required": {
            "$ref": "#/components/headers/X-402-Required"
          },
          "X-402-Challenge": {
            "$ref": "#/components/headers/X-402-Challenge"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaymentRequiredError"
            },
            "examples": {
              "paymentRequired": {
                "value": {
                  "error": {
                    "code": "PAYMENT_REQUIRED",
                    "message": "Valid x402 payment is required for this endpoint.",
                    "request_id": "req_402_a12f09"
                  },
                  "payment": {
                    "scheme": "x402",
                    "network": "base",
                    "asset": "USDC",
                    "decimals": 6,
                    "amount_base_units": "2500",
                    "amount": "0.0025",
                    "facilitator_address": "0x5A6f7A2b9f7B92E8d6A55E2d88cbf8EeCd8A4B13",
                    "pay_to": "0xD4D1A8F4c37a0eaD8B61B7f957f9f93f8AA3d815",
                    "nonce": "n_4fc31ced33",
                    "expires_at": "2026-03-04T12:45:00Z",
                    "request_hash": "0x9b9be318c8659e8ec9f49de22f77fd62b745cecc6f6ec9d4fa0d4f6cf15d2a40"
                  }
                }
              }
            }
          }
        }
      },
      "ValidationFailed": {
        "description": "Validation failed.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "examples": {
              "invalidInput": {
                "value": {
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "One or more fields are invalid.",
                    "request_id": "req_422_93f1c8",
                    "details": [
                      {
                        "path": "q",
                        "message": "q must be at least 1 character."
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RateLimitError"
            },
            "examples": {
              "rateLimited": {
                "value": {
                  "error": {
                    "code": "RATE_LIMITED",
                    "message": "Rate limit exceeded. Retry later.",
                    "request_id": "req_429_7723c1"
                  },
                  "retry_after_seconds": 8
                }
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Unexpected server-side error.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalError"
            },
            "examples": {
              "internal": {
                "value": {
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "Unexpected server error.",
                    "request_id": "req_500_5fca11"
                  }
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "status",
          "version",
          "uptime_s",
          "now"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "version": {
            "type": "string"
          },
          "uptime_s": {
            "type": "integer",
            "minimum": 0
          },
          "now": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Cost": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "asset",
          "amount_base_units",
          "amount"
        ],
        "properties": {
          "asset": {
            "type": "string",
            "enum": [
              "USDC"
            ]
          },
          "amount_base_units": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+(\\.[0-9]+)?$"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "title",
          "url",
          "snippet",
          "source",
          "published_at",
          "score"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "snippet": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "NewsResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SearchResult"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "outlet",
              "category"
            ],
            "properties": {
              "outlet": {
                "type": "string"
              },
              "category": {
                "type": "string"
              }
            }
          }
        ]
      },
      "Citation": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "title",
          "url",
          "snippet",
          "source",
          "published_at"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "snippet": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebSearchResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "query",
          "took_ms",
          "total",
          "results",
          "cost"
        ],
        "properties": {
          "query": {
            "type": "string"
          },
          "took_ms": {
            "type": "integer",
            "minimum": 0
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "cost": {
            "$ref": "#/components/schemas/Cost"
          }
        }
      },
      "NewsSearchResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "query",
          "took_ms",
          "total",
          "results",
          "cost"
        ],
        "properties": {
          "query": {
            "type": "string"
          },
          "took_ms": {
            "type": "integer",
            "minimum": 0
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NewsResult"
            }
          },
          "cost": {
            "$ref": "#/components/schemas/Cost"
          }
        }
      },
      "DeepSearchRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          },
          "max_results": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "default": 10
          },
          "search_depth": {
            "type": "string",
            "enum": [
              "quick",
              "standard",
              "exhaustive"
            ],
            "default": "standard"
          },
          "include_news": {
            "type": "boolean",
            "default": true
          },
          "include_citations": {
            "type": "boolean",
            "default": true
          },
          "freshness": {
            "type": "string",
            "enum": [
              "any",
              "day",
              "week",
              "month"
            ],
            "default": "month"
          }
        }
      },
      "DeepSearchResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "query",
          "answer",
          "key_findings",
          "citations",
          "results",
          "took_ms",
          "total",
          "cost"
        ],
        "properties": {
          "query": {
            "type": "string"
          },
          "answer": {
            "type": "string"
          },
          "key_findings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "citations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Citation"
            }
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "took_ms": {
            "type": "integer",
            "minimum": 0
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "cost": {
            "$ref": "#/components/schemas/Cost"
          }
        }
      },
      "ValidationIssue": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "path",
          "message"
        ],
        "properties": {
          "path": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorObject": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "message",
          "request_id"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationIssue"
            }
          }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorObject"
          }
        }
      },
      "ValidationError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorEnvelope"
          }
        ]
      },
      "RateLimitError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorEnvelope"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "retry_after_seconds"
            ],
            "properties": {
              "retry_after_seconds": {
                "type": "integer",
                "minimum": 1
              }
            }
          }
        ]
      },
      "PaymentRequirement": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "scheme",
          "network",
          "asset",
          "decimals",
          "amount_base_units",
          "amount",
          "facilitator_address",
          "pay_to",
          "nonce",
          "expires_at",
          "request_hash"
        ],
        "properties": {
          "scheme": {
            "type": "string",
            "enum": [
              "x402"
            ]
          },
          "network": {
            "type": "string",
            "enum": [
              "base"
            ]
          },
          "asset": {
            "type": "string",
            "enum": [
              "USDC"
            ]
          },
          "decimals": {
            "type": "integer",
            "enum": [
              6
            ]
          },
          "amount_base_units": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+(\\.[0-9]+)?$"
          },
          "facilitator_address": {
            "type": "string"
          },
          "pay_to": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "request_hash": {
            "type": "string"
          }
        }
      },
      "PaymentRequiredError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorEnvelope"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "payment"
            ],
            "properties": {
              "payment": {
                "$ref": "#/components/schemas/PaymentRequirement"
              }
            }
          }
        ]
      },
      "InternalError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorEnvelope"
          }
        ]
      }
    }
  }
}