{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Queryx API",
    "version": "1.0.0",
    "summary": "x402-metered web and research search API",
    "description": "Queryx provides metered search endpoints secured with x402 payments on Base USDC."
  },
  "servers": [
    {
      "url": "https://queryx.run",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "health",
      "description": "Service health and readiness"
    },
    {
      "name": "search",
      "description": "Web and news search endpoints"
    },
    {
      "name": "research",
      "description": "Deep research endpoint"
    }
  ],
  "components": {
    "securitySchemes": {
      "x402": {
        "type": "apiKey",
        "in": "header",
        "name": "X-402-Payment",
        "description": "x402 payment envelope. For paid retries this is a base64url-encoded JSON object containing quote and payer metadata."
      }
    },
    "parameters": {
      "q": {
        "name": "q",
        "in": "query",
        "required": true,
        "description": "Natural-language search query.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 1024
        },
        "examples": {
          "basic": {
            "value": "best LLM eval frameworks"
          }
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of results.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 20,
          "default": 8
        },
        "examples": {
          "default": {
            "value": 8
          }
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "required": false,
        "description": "Zero-based pagination offset.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 200,
          "default": 0
        },
        "examples": {
          "firstPage": {
            "value": 0
          }
        }
      },
      "lang": {
        "name": "lang",
        "in": "query",
        "required": false,
        "description": "Language hint (ISO-like code).",
        "schema": {
          "type": "string",
          "pattern": "^[a-z]{2}(-[A-Z]{2})?$",
          "default": "en"
        },
        "examples": {
          "english": {
            "value": "en"
          }
        }
      },
      "region": {
        "name": "region",
        "in": "query",
        "required": false,
        "description": "Region/country hint for ranking.",
        "schema": {
          "type": "string",
          "minLength": 2,
          "maxLength": 8,
          "default": "US"
        },
        "examples": {
          "us": {
            "value": "US"
          }
        }
      },
      "safe": {
        "name": "safe",
        "in": "query",
        "required": false,
        "description": "Safety filter level.",
        "schema": {
          "type": "string",
          "enum": [
            "off",
            "moderate",
            "strict"
          ],
          "default": "moderate"
        },
        "examples": {
          "moderate": {
            "value": "moderate"
          }
        }
      },
      "freshness": {
        "name": "freshness",
        "in": "query",
        "required": false,
        "description": "Freshness window used for ranking.",
        "schema": {
          "type": "string",
          "enum": [
            "any",
            "day",
            "week",
            "month",
            "year"
          ],
          "default": "any"
        },
        "examples": {
          "week": {
            "value": "week"
          }
        }
      },
      "newsSort": {
        "name": "sort",
        "in": "query",
        "required": false,
        "description": "Sort strategy for news results.",
        "schema": {
          "type": "string",
          "enum": [
            "relevance",
            "date"
          ],
          "default": "relevance"
        },
        "examples": {
          "date": {
            "value": "date"
          }
        }
      },
      "fromDate": {
        "name": "from",
        "in": "query",
        "required": false,
        "description": "Lower bound publication date (inclusive).",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "examples": {
          "from": {
            "value": "2026-02-01"
          }
        }
      },
      "toDate": {
        "name": "to",
        "in": "query",
        "required": false,
        "description": "Upper bound publication date (inclusive).",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "examples": {
          "to": {
            "value": "2026-03-04"
          }
        }
      },
      "x402AddressHeader": {
        "name": "X-402-Address",
        "in": "header",
        "required": false,
        "description": "Payer wallet address on Base.",
        "schema": {
          "type": "string",
          "pattern": "^0x[a-fA-F0-9]{40}$"
        }
      },
      "x402TimestampHeader": {
        "name": "X-402-Timestamp",
        "in": "header",
        "required": false,
        "description": "Unix epoch timestamp in seconds used in the signature payload.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "x402SignatureHeader": {
        "name": "X-402-Signature",
        "in": "header",
        "required": false,
        "description": "Signature of canonical x402 string (EIP-191 personal_sign).",
        "schema": {
          "type": "string",
          "minLength": 40
        }
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "status",
          "service",
          "version",
          "timestamp",
          "uptime_seconds"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "service": {
            "type": "string",
            "example": "queryx-api"
          },
          "version": {
            "type": "string",
            "example": "1.0.0"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "uptime_seconds": {
            "type": "number",
            "minimum": 0
          }
        }
      },
      "Usage": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "endpoint",
          "cost_base_units",
          "cost_usdc",
          "rate_limit_limit",
          "rate_limit_remaining",
          "rate_limit_reset_seconds"
        ],
        "properties": {
          "endpoint": {
            "type": "string",
            "example": "/v1/search"
          },
          "cost_base_units": {
            "type": "integer",
            "minimum": 0,
            "description": "USDC base units where 1 USDC = 1,000,000 base units."
          },
          "cost_usdc": {
            "type": "string",
            "pattern": "^\\d+(\\.\\d{1,6})?$",
            "example": "0.025"
          },
          "rate_limit_limit": {
            "type": "integer",
            "minimum": 1
          },
          "rate_limit_remaining": {
            "type": "integer",
            "minimum": 0
          },
          "rate_limit_reset_seconds": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "title",
          "url",
          "snippet",
          "source",
          "score"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "snippet": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "NewsResult": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "title",
          "url",
          "snippet",
          "source",
          "score",
          "published_at"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "snippet": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          },
          "image_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "request_id",
          "query",
          "type",
          "results",
          "latency_ms",
          "usage"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "example": "req_01JNF89R6G3H2EA0R9N81A8NKT"
          },
          "query": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "web"
            ]
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "latency_ms": {
            "type": "integer",
            "minimum": 1
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "NewsSearchResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "request_id",
          "query",
          "type",
          "results",
          "latency_ms",
          "usage"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "example": "req_01JNF8A2NKVK9W8AB6A2RQ8C4S"
          },
          "query": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "news"
            ]
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NewsResult"
            }
          },
          "latency_ms": {
            "type": "integer",
            "minimum": 1
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "DeepSearchRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1024
          },
          "max_sources": {
            "type": "integer",
            "minimum": 3,
            "maximum": 40,
            "default": 12
          },
          "include_domains": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          },
          "exclude_domains": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          },
          "lang": {
            "type": "string",
            "pattern": "^[a-z]{2}(-[A-Z]{2})?$",
            "default": "en"
          },
          "region": {
            "type": "string",
            "default": "US"
          },
          "safe": {
            "type": "string",
            "enum": [
              "off",
              "moderate",
              "strict"
            ],
            "default": "moderate"
          },
          "reasoning_depth": {
            "type": "string",
            "enum": [
              "standard",
              "high"
            ],
            "default": "standard"
          }
        }
      },
      "DeepSource": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "title",
          "url",
          "snippet",
          "source",
          "relevance"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "snippet": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "relevance": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "DeepSearchResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "request_id",
          "query",
          "summary",
          "answer",
          "key_points",
          "sources",
          "latency_ms",
          "usage"
        ],
        "properties": {
          "request_id": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "answer": {
            "type": "string"
          },
          "key_points": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeepSource"
            }
          },
          "latency_ms": {
            "type": "integer",
            "minimum": 1
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "ErrorDetail": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "payment_required",
              "validation_error",
              "rate_limited",
              "internal_error"
            ]
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          },
          "retry_after_seconds": {
            "type": "integer",
            "minimum": 0
          },
          "invalid_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "field",
                "reason"
              ],
              "properties": {
                "field": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PaymentRequirement": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "network",
          "chain_id",
          "asset",
          "amount_base_units",
          "amount",
          "payment_id",
          "facilitator",
          "expires_at",
          "signature_payload"
        ],
        "properties": {
          "network": {
            "type": "string",
            "example": "base"
          },
          "chain_id": {
            "type": "integer",
            "example": 8453
          },
          "asset": {
            "type": "string",
            "example": "USDC"
          },
          "amount_base_units": {
            "type": "integer",
            "minimum": 1,
            "example": 25000
          },
          "amount": {
            "type": "string",
            "pattern": "^\\d+(\\.\\d{1,6})?$",
            "example": "0.025"
          },
          "payment_id": {
            "type": "string",
            "example": "pay_01JNF8C2KQ43P4FQRTQ6BRWWA8"
          },
          "facilitator": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "example": "0x6c7ad4e1bfa9c20e4a9e0467fd20170d1aa05c11"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "signature_payload": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "version",
              "scheme",
              "message"
            ],
            "properties": {
              "version": {
                "type": "string",
                "example": "QUERYX-X402-V1"
              },
              "scheme": {
                "type": "string",
                "example": "eip191"
              },
              "message": {
                "type": "string",
                "description": "Canonical string to sign with payer wallet key."
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          },
          "payment": {
            "$ref": "#/components/schemas/PaymentRequirement"
          }
        }
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "x402 payment required before request can be processed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "paymentRequired": {
                "value": {
                  "error": {
                    "code": "payment_required",
                    "message": "x402 payment is required for this endpoint.",
                    "request_id": "req_01JNF8D7F4FB7CV0W5XKQ6QCMF"
                  },
                  "payment": {
                    "network": "base",
                    "chain_id": 8453,
                    "asset": "USDC",
                    "amount_base_units": 25000,
                    "amount": "0.025",
                    "payment_id": "pay_01JNF8C2KQ43P4FQRTQ6BRWWA8",
                    "facilitator": "0x6c7ad4e1bfa9c20e4a9e0467fd20170d1aa05c11",
                    "expires_at": "2026-03-04T12:00:00Z",
                    "signature_payload": {
                      "version": "QUERYX-X402-V1",
                      "scheme": "eip191",
                      "message": "QUERYX-X402-V1\nGET\n/v1/search?q=best+LLM+eval+frameworks&limit=3\n47DEQpj8HBSa__TImW-5JCeuQeRkm5NMpJWZG3hSuFU\npay_01JNF8C2KQ43P4FQRTQ6BRWWA8\n25000\nUSDC\nbase\n8453\n1709558400"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Input failed validation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "validation": {
                "value": {
                  "error": {
                    "code": "validation_error",
                    "message": "Validation failed for query parameters.",
                    "request_id": "req_01JNF8E15N4MZV34H1N0NTHTW4",
                    "invalid_fields": [
                      {
                        "field": "limit",
                        "reason": "must be less than or equal to 20"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "RateLimitError": {
        "description": "Rate limit exceeded.",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rateLimit": {
                "value": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Too many requests.",
                    "request_id": "req_01JNF8ET3Q6R6PE7Q3SEFBRM9H",
                    "retry_after_seconds": 12
                  }
                }
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Unexpected server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "internal": {
                "value": {
                  "error": {
                    "code": "internal_error",
                    "message": "Unexpected internal error.",
                    "request_id": "req_01JNF8FRQ28CG3YSA9NQXJ61AQ"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Health check",
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "examples": {
                  "ok": {
                    "value": {
                      "status": "ok",
                      "service": "queryx-api",
                      "version": "1.0.0",
                      "timestamp": "2026-03-04T10:15:30Z",
                      "uptime_seconds": 91324.12
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/search": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Web search",
        "description": "Low-latency web search endpoint billed per request with x402.",
        "operationId": "searchWeb",
        "security": [
          {
            "x402": []
          }
        ],
        "x-pricing": {
          "asset": "USDC",
          "base_units": 25000,
          "human_readable": "0.025",
          "network": "base"
        },
        "x-rate-limits": {
          "requests_per_minute": 120
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/lang"
          },
          {
            "$ref": "#/components/parameters/region"
          },
          {
            "$ref": "#/components/parameters/safe"
          },
          {
            "$ref": "#/components/parameters/freshness"
          },
          {
            "$ref": "#/components/parameters/x402AddressHeader"
          },
          {
            "$ref": "#/components/parameters/x402TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/x402SignatureHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "examples": {
                  "webResults": {
                    "value": {
                      "request_id": "req_01JNF89R6G3H2EA0R9N81A8NKT",
                      "query": "best LLM eval frameworks",
                      "type": "web",
                      "results": [
                        {
                          "title": "LLM Evaluation Methods",
                          "url": "https://queryx.run/example/llm-eval-methods",
                          "snippet": "A practical guide to automated and human-in-the-loop LLM evaluation.",
                          "source": "Queryx Demo",
                          "score": 0.94
                        },
                        {
                          "title": "Benchmarking LLM Systems",
                          "url": "https://queryx.run/example/benchmarking-llms",
                          "snippet": "Coverage of retrieval-aware benchmarks and rubric scoring.",
                          "source": "Queryx Demo",
                          "score": 0.91
                        }
                      ],
                      "latency_ms": 388,
                      "usage": {
                        "endpoint": "/v1/search",
                        "cost_base_units": 25000,
                        "cost_usdc": "0.025",
                        "rate_limit_limit": 120,
                        "rate_limit_remaining": 119,
                        "rate_limit_reset_seconds": 60
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/search/news": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "News search",
        "description": "News-focused search endpoint with optional date filtering, billed with x402.",
        "operationId": "searchNews",
        "security": [
          {
            "x402": []
          }
        ],
        "x-pricing": {
          "asset": "USDC",
          "base_units": 35000,
          "human_readable": "0.035",
          "network": "base"
        },
        "x-rate-limits": {
          "requests_per_minute": 90
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/lang"
          },
          {
            "$ref": "#/components/parameters/region"
          },
          {
            "$ref": "#/components/parameters/safe"
          },
          {
            "$ref": "#/components/parameters/newsSort"
          },
          {
            "$ref": "#/components/parameters/fromDate"
          },
          {
            "$ref": "#/components/parameters/toDate"
          },
          {
            "$ref": "#/components/parameters/x402AddressHeader"
          },
          {
            "$ref": "#/components/parameters/x402TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/x402SignatureHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "News results.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsSearchResponse"
                },
                "examples": {
                  "newsResults": {
                    "value": {
                      "request_id": "req_01JNF8A2NKVK9W8AB6A2RQ8C4S",
                      "query": "ai chip funding rounds",
                      "type": "news",
                      "results": [
                        {
                          "title": "AI Chip Startup Raises New Round",
                          "url": "https://queryx.run/example/ai-chip-round",
                          "snippet": "The company announced an oversubscribed round led by strategic investors.",
                          "source": "Queryx Newswire",
                          "score": 0.97,
                          "published_at": "2026-03-03T14:10:00Z",
                          "image_url": "https://queryx.run/example/images/ai-chip-round.jpg"
                        }
                      ],
                      "latency_ms": 442,
                      "usage": {
                        "endpoint": "/v1/search/news",
                        "cost_base_units": 35000,
                        "cost_usdc": "0.035",
                        "rate_limit_limit": 90,
                        "rate_limit_remaining": 89,
                        "rate_limit_reset_seconds": 60
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/search/deep": {
      "post": {
        "tags": [
          "research"
        ],
        "summary": "Deep research search",
        "description": "Multi-source deep research with synthesis and citations, billed with x402.",
        "operationId": "searchDeep",
        "security": [
          {
            "x402": []
          }
        ],
        "x-pricing": {
          "asset": "USDC",
          "base_units": 125000,
          "human_readable": "0.125",
          "network": "base"
        },
        "x-rate-limits": {
          "requests_per_minute": 30
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/x402AddressHeader"
          },
          {
            "$ref": "#/components/parameters/x402TimestampHeader"
          },
          {
            "$ref": "#/components/parameters/x402SignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeepSearchRequest"
              },
              "examples": {
                "deepQuery": {
                  "value": {
                    "query": "What are the tradeoffs between sparse and dense retrieval for enterprise RAG?",
                    "max_sources": 10,
                    "include_domains": [
                      "queryx.run"
                    ],
                    "exclude_domains": [
                      "ads.queryx.run"
                    ],
                    "lang": "en",
                    "region": "US",
                    "safe": "moderate",
                    "reasoning_depth": "high"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deep research response.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepSearchResponse"
                },
                "examples": {
                  "deepResults": {
                    "value": {
                      "request_id": "req_01JNF8B2AXYHJ6YEKMN6BYBFFM",
                      "query": "What are the tradeoffs between sparse and dense retrieval for enterprise RAG?",
                      "summary": "Dense retrieval improves semantic recall while sparse retrieval remains strong for lexical precision, transparency, and lower infra overhead.",
                      "answer": "For enterprise RAG, sparse retrieval is typically cheaper, easier to audit, and robust for exact-match intents. Dense retrieval improves semantic matching and multilingual recall but requires embedding lifecycle management and vector infra. Hybrid retrieval often gives the best overall relevance and resilience.",
                      "key_points": [
                        "Sparse methods excel on exact keywords and compliance traceability.",
                        "Dense methods improve semantic recall and paraphrase tolerance.",
                        "Hybrid fusion usually outperforms either method alone in production."
                      ],
                      "sources": [
                        {
                          "title": "Hybrid Retrieval in RAG Systems",
                          "url": "https://queryx.run/example/hybrid-rag",
                          "snippet": "A benchmark-oriented look at lexical, vector, and fused retrieval.",
                          "source": "Queryx Research",
                          "relevance": 0.96
                        },
                        {
                          "title": "Dense vs Sparse Retrieval Tradeoffs",
                          "url": "https://queryx.run/example/dense-vs-sparse",
                          "snippet": "Operational tradeoffs for enterprise search deployments.",
                          "source": "Queryx Research",
                          "relevance": 0.93
                        }
                      ],
                      "latency_ms": 1488,
                      "usage": {
                        "endpoint": "/v1/search/deep",
                        "cost_base_units": 125000,
                        "cost_usdc": "0.125",
                        "rate_limit_limit": 30,
                        "rate_limit_remaining": 29,
                        "rate_limit_reset_seconds": 60
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  }
}