{
  "openapi": "3.1.0",
  "info": {
    "title": "Queryx",
    "version": "1.0.0",
    "description": "Agent-native web search API. Pay per request in USDC via x402 on Base.\n\nNote: This OpenAPI spec documents the intended public contract. Payment details depend on the x402 facilitator implementation."
  },
  "servers": [
    {
      "url": "https://queryx.run",
      "description": "Production"
    }
  ],
  "security": [
    {
      "x402": []
    }
  ],
  "tags": [
    { "name": "search", "description": "Paid search endpoints" },
    { "name": "health", "description": "Health" }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["health"],
        "summary": "Health check",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Health" },
                "examples": {
                  "ok": { "value": { "status": "ok" } }
                }
              }
            }
          }
        }
      }
    },
    "/v1/search": {
      "get": {
        "tags": ["search"],
        "summary": "Web search + AI synthesis",
        "description": "Paid endpoint (x402). Typical price: 0.001 USDC per call.",
        "parameters": [
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/count" }
        ],
        "responses": {
          "200": {
            "description": "Search response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SearchResponse" },
                "examples": {
                  "example": {
                    "value": {
                      "query": "what is x402",
                      "answer": "x402 is a payment scheme for HTTP APIs where clients pay per request (HTTP 402) ...",
                      "sources": [
                        {
                          "title": "x402",
                          "url": "https://x402.org",
                          "snippet": "...",
                          "published": "2026-02-01T00:00:00Z"
                        }
                      ],
                      "confidence": 0.72,
                      "freshness": { "fetchedAt": "2026-02-28T12:00:00Z", "resultsAge": "4h" },
                      "model": "queryx-fast-v1",
                      "tokens": { "in": 320, "out": 180 }
                    }
                  }
                }
              }
            }
          },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/search/news": {
      "get": {
        "tags": ["search"],
        "summary": "News-focused search + synthesis",
        "description": "Paid endpoint (x402). Typical price: 0.001 USDC per call.",
        "parameters": [
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/count" },
          {
            "name": "freshness",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["day", "week", "month"] },
            "description": "Optional freshness window for news search."
          }
        ],
        "responses": {
          "200": {
            "description": "Search response",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SearchResponse" } }
            }
          },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/v1/search/deep": {
      "post": {
        "tags": ["search"],
        "summary": "Deep research (multi-source)",
        "description": "Paid endpoint (x402). Typical price: 0.005 USDC per call.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DeepSearchRequest" },
              "examples": {
                "example": {
                  "value": {
                    "query": "compare Brave Search vs Tavily for agents",
                    "depth": 2,
                    "maxSources": 12
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search response",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SearchResponse" } }
            }
          },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "x402": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Payment",
        "description": "x402 payment proof / receipt header (implementation-specific). Clients should be prepared to receive HTTP 402 with facilitator instructions and then retry with payment header(s). See https://x402.org"
      }
    },
    "parameters": {
      "q": {
        "name": "q",
        "in": "query",
        "required": true,
        "schema": { "type": "string", "minLength": 1 },
        "description": "Search query"
      },
      "count": {
        "name": "count",
        "in": "query",
        "required": false,
        "schema": { "type": "integer", "minimum": 1, "maximum": 50, "default": 10 },
        "description": "Number of sources to retrieve"
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "Payment required (x402)",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "examples": {
              "payment_required": {
                "value": {
                  "error": "payment_required",
                  "message": "Payment required. Follow facilitator instructions and retry with payment headers.",
                  "code": "X402_PAYMENT_REQUIRED"
                }
              }
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "examples": { "invalid": { "value": { "error": "invalid_request", "message": "Invalid request", "code": "VALIDATION_ERROR" } } }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "examples": { "rate_limited": { "value": { "error": "rate_limited", "message": "Too many requests", "code": "RATE_LIMIT" } } }
          }
        }
      },
      "ServerError": {
        "description": "Server error",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "examples": { "server_error": { "value": { "error": "server_error", "message": "Unexpected error", "code": "INTERNAL" } } }
          }
        }
      }
    },
    "schemas": {
      "Health": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": { "type": "string", "enum": ["ok"] }
        },
        "required": ["status"]
      },
      "DeepSearchRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "query": { "type": "string", "minLength": 1 },
          "depth": { "type": "integer", "minimum": 1, "maximum": 5, "default": 2 },
          "maxSources": { "type": "integer", "minimum": 1, "maximum": 50, "default": 12 }
        },
        "required": ["query"]
      },
      "Source": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "title": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "snippet": { "type": "string" },
          "published": { "type": "string", "format": "date-time" }
        },
        "required": ["title", "url", "snippet"]
      },
      "Freshness": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "fetchedAt": { "type": "string", "format": "date-time" },
          "resultsAge": { "type": "string", "description": "Human-readable age, e.g. '4h'" }
        },
        "required": ["fetchedAt", "resultsAge"]
      },
      "Tokens": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "in": { "type": "integer", "minimum": 0 },
          "out": { "type": "integer", "minimum": 0 }
        },
        "required": ["in", "out"]
      },
      "SearchResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "query": { "type": "string" },
          "answer": { "type": "string" },
          "sources": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Source" }
          },
          "confidence": { "type": "number", "minimum": 0, "maximum": 1 },
          "freshness": { "$ref": "#/components/schemas/Freshness" },
          "model": { "type": "string" },
          "tokens": { "$ref": "#/components/schemas/Tokens" }
        },
        "required": ["query", "answer", "sources", "confidence", "freshness", "model", "tokens"]
      },
      "Error": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" },
          "code": { "type": "string" }
        },
        "required": ["error", "message", "code"]
      }
    }
  }
}
